.App {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  height: 100vh;
  background-color: #282c34;
  color: white;
  user-select: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
