* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  height: 100vh;
  background-color: #282c34;
  color: white;
  user-select: none;
}

.DateRangePickerInput, .DateInput_input  {
  background-color: #292c34;
  color: #fefefe;
}

.DateRangePickerInput_arrow_svg {
  fill: #fefefe;
}