<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
	<string>Germany</string>
	<key>CFBundleExecutable</key>
	<string>cntr</string>
	<key>CFBundleIdentifier</key>
	<string>meinto.cntr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>cntr</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>

	<key>CFBundleIconFile</key>
	<string>cntr</string>

  <key>NSHighResolutionCapable</key>
  <true/>
  <key>LSUIElement</key>
  <true/>

  <key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 Tobias Meinhardt. All rights reserved.</string>
</dict>
</plist>
